<div class="page-header">
  <h1>All of the strings</h1>
</div>

<%= link_to "Create New String", new_translation_path, class: "btn btn-success" %>


<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th>Component</th>
      <th>String_ID</th>
      <th>en_US</th>
      <th>en_GB</th>
      <th>es_MX</th>
      <th>fr_CA</th>
      <th>pt_BR</th>
      <th>da_DK</th>
      <th>sv_SE</th>
      <th>nb_NO</th>
      <th>fi_FI</th>
      <th>nl_NL</th>
      
    </tr>
  </thead>

  <tbody>
    <% @translations.each do |translation| %>
      <tr>
        <td><%= link_to 'Show', translation %></td>
        <td><%= link_to 'Edit', edit_translation_path(translation) %></td>
        <td><%= link_to 'Delete', translation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= translation.component %></td>
        <td><%= translation.string_id %></td>
        <td ><%= translation.en_US %></td>
        <td><%= translation.en_GB %></td>
        <td><%= translation.es_MX %></td>
        <td><%= translation.fr_CA %></td>
        <td><%= translation.pt_BR %></td>
        <td><%= translation.da_DK %></td>
        <td><%= translation.sv_SE %></td>
        <td><%= translation.nb_NO %></td>
        <td><%= translation.fi_FI %></td>
        <td><%= translation.nl_NL %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
