<p id="notice"><%= notice %></p>

<p>
  <strong>en-US:</strong>
  <%= @translation.en_US %>
</p>

<p>
  <strong>Component:</strong>
  <%= @translation.component %>
</p>

<p>
  <strong>String-ID:</strong>
  <%= @translation.string_id %>
</p>

<p>
  <strong>en-GB:</strong>
  <%= @translation.en_GB %>
</p>

<p>
  <strong>es-MX:</strong>
  <%= @translation.es_MX %>
</p>

<p>
  <strong>fr-CA:</strong>
  <%= @translation.fr_CA %>
</p>

<p>
  <strong>pt-BR:</strong>
  <%= @translation.pt_BR %>
</p>

<p>
  <strong>da-DK:</strong>
  <%= @translation.da_DK %>
</p>

<p>
  <strong>sv-SE:</strong>
  <%= @translation.sv_SE %>
</p>

<p>
  <strong>nb-NO:</strong>
  <%= @translation.nb_NO %>
</p>

<p>
  <strong>fi-FI:</strong>
  <%= @translation.fi_FI %>
</p>

<p>
  <strong>nl-NL:</strong>
  <%= @translation.nl_NL %>
</p>

<%= link_to 'Edit', edit_translation_path(@translation) %> |
<%= link_to 'Back', translations_path %>
